### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
config.yml
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

##DS STORE##
.DS_Store
.DS_Store? 

## ENVIRONMENT FILE ##
.env

## SQLITE DATABASE ##
/store/passwall.db
/store/gpass.db

## CONFIG FILE ##
/store/config.yml

## GITCONFIG ##
.gitconfig
